/* Component Styles */

.card {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: var(--color-Stroke) 1px solid;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  background-color: var(--color-Gray-100);
  border: var(--color-Primary) 1px solid;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--color-Primary);
}

.icon-button {
  padding: 0.25rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
}

.icon-button-ic {
  width: 1.25rem;
  height: 1.25rem;
  background-color: white;
  color: white;
}

.icon-single {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-Gray-600);
  color: var(--color-Gray-600);
  transition: all 0.3s;
}

.icon-single:hover {
  background-color: var(--color-Gray-900);
  color: rgb(0, 0, 0);
}

/* Utility Styles */
button#gather {
  display: block;
}

section#iceServers label {
  display: inline-block;
  width: 150px;
}

section#iceServers input {
  margin: 0 0 10px;
  width: 260px;
}

select#servers {
  font-size: 1em;
  padding: 5px;
  width: 420px;
}

section:last-child {
  border-bottom: none;
  margin: 0;
  padding: 0;
}

option {
  color: black;
}

video {
  margin: 0 0 20px 0;
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}

.vertical-divider {
  width: 100px;
  opacity: 0;
  align-self: stretch;
}
